<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1" configfailurepolicy="continue">
    <test name="Web">
        <classes>
            <class name="com.d11.test.GetPlayerStats">
            <methods>
            <!-- <include name="getPlayerStats"></include>
            <include name="getAR"></include> -->
            <include name="getLiveResults"></include>
            </methods>
            </class>
        </classes>
    </test>
</suite>
