<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1" configfailurepolicy="continue">
    <test name="Web">
        <classes>
            <!-- <class name="com.d11.test.GetPlayerStats">
            <methods>
            <include name="getIPLMatchesStats"></include>
            <include name="getIPLMostStats"></include>
            <include name="getD11MoneyStats"></include>
            <include name="getD11PlayerStats"></include>
            <include name="getD11JoinedStats"></include>
            <include name="getD11LiveStats"></include>
            </methods>
            </class> -->
            <class name="com.d11.test.UnDeuxTrois">
            <methods>
            <include name="getUnDeuxTroisStats"></include>
            <!-- <include name="writeToMaster"></include> -->
            </methods>
            </class>
        </classes>
    </test>
</suite>
